*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==about-hero== */

.about-con{
    width: 100%;
    height: 100vh;
    background-color: rgba(165, 86, 86, 0.589);
}

.about{
    background-image: url(b-blog_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}