*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}g
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/muhammad123-legend/autosoe.git
git push -u origin main