*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* ==header== */
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    background-color: rgba(233, 144, 144, 0.342);
    height: 10vh;
    padding-right: 3%;
    padding-left: 4%;
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}
li{
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
}
a:hover{
    color: grey;
}
header input{
    display: none;
}
.icon{
    display: none;
}
#check:checked ~ ul{
    display: block;
}
#check:checked ~ header button{
    display: block;
}
header button{
    background-color: lightcoral;
    height: 5vh;
    width: 5rem;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
/* ==contact-hero== */
.contact-hero{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px;
    background-color: rgba(233, 144, 144, 0.342);
}
a{
    color: grey;
    text-decoration: none;
}
/* ==contact-content== */
.contact-content{
    display: flex;
    border: 2px solid #0001;
    padding: 2rem;
    border-radius: 10px;
    justify-content: center;
    width: 70%;
    /* align-items: center; */
    gap: 20px;
    flex-direction: column;
    input{
        height: 8vh;
        padding: 2rem;
        background-color: lightgrey;
        border-radius: 8px;
        border: 2px solid grey;
    }
    input::placeholder{
        color: slategray;
        font-size: 14px;
    }
    select{
        height: 7vh;
    }
    p:nth-child(1){
        font-variant: small-caps;
        font-size: 4vh;
        text-transform: capitalize;
        font-weight: bold;
    }
    label{
        font-weight: bold;
        font-size: 14px;
        text-transform: capitalize;
    }
    textarea{
        height: 10vh;
        padding: 20px;
    }
    textarea, input, select:focus{
        outline-color: rgba(245, 25, 25, 0.678);
    }
}
.home{
    font-size: 20px;
    color: grey;
    font-weight: bold;
}
.store{
    font-size: 14px;
    font-weight: bold;
    color: rgb(219, 54, 54);
    font-variant: small-caps;
}
.contact-button{
    display: flex;
    button{
        width: 7rem;
        background-color: grey;
        height: 7vh;
        border-radius: 8px;
        box-shadow: 0 0 30px grey;
        border-color: #ffff;
        color: #ffff;
    }
}
.optional{
    color: grey;
}
/* ==contact-details== */
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-details-con{
    display: flex;
    justify-content: space-around;
    align-items:first center;
    border-bottom: 1px solid grey;
    padding: 20px;
    gap: 10px;
    p:first-of-type{
        font-size: 14px;
        color: grey;
    }
    p:last-of-type{
        color: rgb(219, 54, 54);
    }
}
.contact-details-con1{
    display: flex;
    justify-content: space-around;
    align-items:first center;
    border-bottom: 1px solid grey;
    padding: 20px;
    gap:20px;
    p:first-of-type{
        font-size: 14px;
        color: grey;
    }
    p:last-of-type{
        color: rgb(219, 54, 54);
    }
}
.send{
    width: 9rem;
        background-color: grey;
        height: 7vh;
        border-radius: 10px;
        box-shadow: 0 0 30px grey;
        border-color: #ffff;
        color: #ffff;
        align-self: flex-end;
}
.check-inform{
    display: flex;
    align-items: center;
    gap: 10px;
}
.information{
    color: grey;
    font-size: 14px;
    font-variant: small-caps;
}
/* ==location== */
.location{
    width: 100%;
    height: 60vh;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
}
.p{
    font-size: 50px;font-weight: bolder;color: rgb(219, 54, 54);
}
h1{
    color: grey;
}
.location1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location1-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
        height: 6vh;
        background-color: lavender;
        padding: 0 5px;
    }
    textarea{
        padding: 2px  5px;
    }
    button{
        border-color: #ffff;
        background-color: rgb(219, 54, 54);
        border-radius: 30px;
        width: 7rem;
        padding: 0 5px;
        height: 7vh;
        box-shadow: 0 0 30px red;
        color: #ffff;
    }
}
