*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
@media (max-width:500px) {
    body{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ull{
        display: none;
        position: absolute;
        top: 70px;
        right: 50px;
    }
    .icon{
        display: block;
        font-size: 14px;
        color:#ffff;
    }
    header button{
        display: none;
    }
    li{
        display: inline-flex;
        font-size: 14px;
    }
    header{
        margin: 0;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero img{
        /* width: 10rem; */
        max-height: 70vh;
        max-width: 300px;
    }
    .hero-con{
        text-align: center;
        p:last-of-type{
            align-self: center;
        }
        button{
            align-self: center;
        }
    }
    .special-offer{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* padding: 0 18px; */
        gap: 20px;
    }
    .special-offer-con1{
        flex-direction: column;
        padding: 18px;
    }
    .special-offer-con2-items1{
        flex-direction: column;
        padding: 18px 0;
        button{
            align-self: center;
        }
    }
    .special-offer-con2-items2{
        flex-direction: column;
        padding: 18px 0;
        button{
            align-self: center;
        }
        img{
            width: 12rem;
        }
    }
    .special-offer-con1-items1{
        flex-direction: column;
        button{
            align-self: center;
        }
    }
    .product-categories{
        text-align: center;
    }
    .table{
        flex-direction: column;
        gap: 20px;
    }
    .table-con1{
        flex-direction: column;
        gap: 20px;
    }
    .categories{
        flex-direction: column;
        gap: 20px;
    }
    .product-selection{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .product-list{
        flex-direction: column;
    }
    .product-list-con1{
        transition: transform 3s;
        padding: 20px 0;
    }
    .product-list-con2{
        transition: transform 3s;
    }
    .product-list:hover .product-list-con1{
    transform: translateX(0px) !important;
    transform: translateY(480px) !important;
}
.product-list:hover .product-list-con2{
    transform: translateX(-0px) !important;
    transform: translateY(-480px) !important;
}
.service-provide{
    flex-direction: column;
    gap: 10px;
}
.product-selection-con1{
    max-width: 320px;
}
.service-provide-con{
        img{
            width: 5rem !important;
            height: 15vh !important;
        }
        .sp{
            font-size: 20px !important;
            font-family: Arial, Helvetica, sans-serif ;
        }
    
    }
    .subscribe{
        flex-direction:column;
        text-align: center;
    }
    .subscribe1{
        text-align: center;
        align-self: center;
        p:last-of-type{
            font-size: 20px;
        }
    }
    .subscribe-con1{
        flex-direction: column;
        button{
            align-self: center;
            p{
                font-size: 14px !important;
                font-weight: lighter !important;
            }
        }
        input{
            align-self: center;
            text-align: center;
        }
    }
    .motor{
        max-width: 500px !important;
        img{
            width: 20rem !important;
            height: 50vh !important;
            align-self: center !important;
        }
        /* button{
            align-items: center;
        } */
    }
    .footer-content{
        flex-direction: column;
        gap: 20px;
        /* align-self: center; */
        padding: 0 !important;
        text-align: center;
        align-items: center !important;
        justify-content: center !important;
    }
    .stock{
        max-width: 400px !important;
    }
    .connection-link{
        div{
            justify-content: center !important;
        }
    }
}

/* ==header== */
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    background: linear-gradient(to right, rgba(245, 25, 25, 0.678), rgba(255, 70, 70, 0.603));
    height: 10vh;
    padding-right: 3%;
    padding-left: 4%;
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}
li{
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
}
li:hover{
    color: black;
}
header input{
    display: none;
}
.icon{
    display: none;
    color: #ffff;
}
#check:checked ~ ul{
    display: block;
}
#check:checked ~ header button{
    display: block;
}
header button{
    background-color: lightcoral;
    height: 5vh;
    width: 5rem;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* ==hero-section== */
.hero{
    background-color: rgb(219, 54, 54);
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    img{
        width: 50rem;
        height: 90vh;
    }
}
.hero-con{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px;
    p:first-of-type{
        font-size: 6vh;
        font-weight: 900;
        max-width: 600px;
        color: #ffff;
        font-variant: small-caps;
    }
    p:last-of-type{
        font-size: 12px;
        font-weight: 600;
        max-width: 380px;
        color: #ffff;
    }
    button{
        height: 6vh;
        transition: background-color 2s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 9rem;
        background-color: rgba(219, 54, 54, 0.399);
        border-radius: 50px;
        box-shadow: 0 0 30px white;
        border-color: #ffff;
        color: #ffff;
        img{
            width: 1rem;
            height: 3vh;
        }
        
    }
    button:hover{
        background-color: red;
        border-color: #ffff;
    }
}
/* ==special offer== */

.special-offer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 5rem;
    padding: 0 20px;
}
.special-offer-con1{
    background-color: rgba(245, 25, 25, 0.678);
    display: flex;
    padding: 20px;
    /* height: 50vh; */
    align-items: center;
    border-radius: 15px;
    img{
        width: 15rem;
        height: 30vh;
    }
}
.special-offer-con2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.special-offer-con1-items1{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    p:first-child{
        color: #ffff;
        font-weight: bold;
    }
    p:nth-of-type(2){
        font-size: 6vh;
        font-weight: 900;
        max-width: 600px;
        color: rgb(219, 54, 54);
        font-variant: small-caps;
    }
    p:nth-of-type(3){
        font-size: 6vh;
        font-weight: 900;
        max-width: 400px;
        color: #ffff;
        font-variant: small-caps;
    }

}
.special-offer-con2-items1{
    background-color:rgba(189, 185, 185, 0.100);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    border-radius: 15px;
    align-items: center;
    img{
        width: 15rem;
    }
    p:first-child{
        color: rgba(219, 54, 54, 0.399);
        font-weight: bold;
    }
    p:nth-of-type(2){
        font-size: 6vh;
        font-weight: 900;
        max-width: 600px;
        color: rgb(219, 54, 54);
        font-variant: small-caps;
    }
    p:nth-of-type(3){
        font-size: 3vh;
        font-weight: 600;
        max-width: 400px;
        color: rgba(219, 54, 54, 0.399);
        font-variant: small-caps;
    }
}
.special-offer-con2-items2{
    background-color: slategrey;
    border-radius: 15px;
    display: flex;
    /* padding-left: 2rem; */
    align-items: center;
    justify-content: center;
    img{
        width: 10rem;
        height: 30vh;
        position: relative;
    }
    p:first-child{
        color: rgba(255, 70, 70, 0.603);
        font-weight: bold;
    }
    p:nth-of-type(2){
        font-size: 6vh;
        font-weight: 900;
        max-width: 400px;
        color: rgba(255, 70, 70, 0.603);
        font-variant: small-caps;
    }
    p:nth-of-type(3){
        font-size: 14px;
        /* font-weight: bold; */
        max-width: 300px;
        color:#ffff;
    }
}
.special-offer-con2-items11{
    display:flex;
    flex-direction:column;
    gap: 1rem;
    button{
        width: 9rem;
        background-color: rgb(219, 54, 54);
        height: 7vh;
        border-radius: 50px;
        box-shadow: 0 0 30px;
        border-color: #ffff;
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 1rem;
            height: 3vh;
        }
    }

}
.special-offer-con2-items21{
    display:flex;
    flex-direction:column;
    gap: 1rem;
    button{
        width: 9rem;
        background-color: rgb(219, 54, 54);
        height: 7vh;
        border-radius: 50px;
        box-shadow: 0 0 30px slategrey;
        border-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        p:last-of-type{
            color: #ffff;
        }
        img{
            width: 1rem;
            height: 3vh;
        }
    }
}
.special-offer-con1-items1{
    button{
        width: 9rem;
        background-color: rgb(219, 54, 54);
        height: 7vh;
        border-radius: 50px;
        box-shadow: 0 0 30px;
        border-color: white;
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 1rem;
            height: 3vh;
        }
    }
}

/* ==Product categories table */
.categories{
    display: flex;
    align-items:center;
    /* margin: 2%; */
    justify-content: space-around;
    p{
        color: lightslategray;
        font-size: 16px;
    }
}
.categories-con{
    display: flex;
    align-items: center;
    gap: 1rem;
    p:first-of-type{
        font-size: 4vh;
        font-weight: 900;
        max-width: 600px;
        color: rgba(245, 25, 25, 0.678);
        font-variant: small-caps;
    }
}
.product-categories{}
.table{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table-con1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.t{
    border: 2px solid rgba(255, 70, 70, 0.603);
    width: 15rem;
    padding: 10px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}
.equip{
    font-size: 18px;
    font-weight: 900;
    font-variant: small-caps;
    letter-spacing: -1px;
    color: rgba(245, 25, 25, 0.678);
}
.product-no{
    font-size: 16px;
    color: lightgrey;
}
.product-categories{
    padding: 1rem 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* ==product selection */
.product-selection{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.wheel{
    font-size: 4vh;
    font-weight: 900;
    max-width: 300px;
    color: white;
    text-align: center;
    justify-self: center;
    font-variant: small-caps; 
}
.product-selection-con1{
    background-color: rgb(233, 39, 39);
    width: 23rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    align-content: center;
    padding: 0 10px;
    text-align:left;
    button{
        height: 6vh;
        transition: background-color 2s;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 9rem;
        margin-top: 1rem;
        background-color: rgba(219, 54, 54, 0.399);
        border-radius: 50px;
        box-shadow: 0 0 30px white;
        border-color: #ffff;
        color: #ffff;
    }
}
.product-selection-con2{
    background-color: lavender;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-list img{
    width: 7rem;
    height: 15vh;
}
.product-rate img{
    width: 6rem;
    height: 4vh;
}
.product-rate p:first-of-type{
    text-transform: capitalize;
    font-size: 14px;
    max-width: 250px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product-rate p:last-of-type{
    color: rgb(219, 54, 54);
    font-size: 14px;
    font-weight: 600;
}
.product-rate{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-list1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
.product-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.product-list:hover .product-list-con1{
    transform: translateX(450px);
}
.product-list:hover .product-list-con2{
    transform: translateX(-450px);
}
.product-list-con1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: transform 3s;
}
.product-list-con2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: transform 3s;
}
/* ==service-provide== */
.service-provide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-provide-con{
    img{
        width: 3rem;
        height: 7vh;
        align-self: center;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px;
    .sp{
        font-size: 16px;
        font-variant: small-caps;
        font-weight: bold;
    }
    .pp{
        color:grey;
        font-size: 16px;
        max-width: 300px;
        /* align-self: center; */
    }
}
/* ==autosoe subscription== */
.subscribe{
    /* height: 80vh; */
    background-color: rgb(219, 54, 54);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.subscribe1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px 3rem; */
    gap: 30px;
    p:nth-child(1){
        color: #ffff;
        font-weight: bold;
        text-transform: capitalize;
    }
   p:nth-child(2){
        color: #ffff;
        font-size: 22px;
        max-width: 400px;
        font-weight: 700;
    }
    p:nth-child(3){
        color: floralwhite;
        max-width: 500px;
        text-shadow: 0 0 30px;
    }
}
.subscribe-con1{
    display: flex;
    gap: 20px;
    input{
        width: 20rem;
        height: 6vh;
        background-color: rgb(156, 151, 151);
        border: none;
        padding: 5px 10px;
        color: #ffff;
        border-radius: 6px;
    }
    input::placeholder{
        color: #ffff;
    }
    button{
        height: 6vh;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 9rem;
        background-color: rgba(219, 54, 54, 0.399);
        border-radius: 50px;
        box-shadow: 0 0 30px white;
        border-color: #ffff;
        color: #ffff;
        img{
            width: 1rem;
            height: 2hv;
        }
    }
}
.inform{
    color: white;
    font-size: 16px;
}
.inform:hover{
    text-decoration: underline;
}
.motor{
   img{
    width: 42rem;
    height: 65vh;
   } 
}
/* ==footer== */
footer{
    background-color: rgb(73, 40, 40);
    margin-top: 2rem;
    padding: 20px 0;
}
.hh{
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 900;
    color: #ffff;
}
.stock{
    color: #ffff;
    max-width: 250px;
    font-size: 16px;
    text-shadow: 0 0 10px white;
}
.footer-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    padding: 20px 0;
    color: #ffff;
}
.connect{
    color: #ffff;
    font-size: 12px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}
.app{
    width: 2rem;
    height: 5vh;
    text-align: center;
    background-color: black;
    border-radius: 100px;
    align-content: center;
    img{
        width: 1rem;
        min-height: 2vh;
        /* padding-left: 1rem; */
    }
}
.footer-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20PX;
}
.footer-content-div1{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.toll{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 12px;
}
.live{
    display: flex;
    color: #ffff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    buttton{
        background-color: rgb(233, 39, 39);
        width: 5rem;
        height: 5vh;
        border-radius: 10px;
    }
}
.business{
    display: flex;
    color: #ffff;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.email{
    color:#ffff;
    display: flex;
    gap: 10px;align-items: center;
    justify-content: center;
}
.connection-link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
    }
}